:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}


body {
    background: #D6ECF3
}


.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.status {
    display: flex;
    justify-content: end;
}
.status > div {
    display: block;
    align-self: flex-end;
    width: fit-content;
    border-radius: calc(0.375rem - 1px);
    padding: 2px;
    font-weight: bold;
    margin: 1px 1px;
    margin-bottom: 10px;
}
.accepted {
    background-color: #06A10B;
    color: #146b07;
}

.pending {
    background-color: #F29339;
    color: #D9512C;
}

.declined {
    background-color: red;
    color: darkred
}

.cancelled {
    background-color: #9570DD;
    color: #502989;
}

.name {
    margin-top: -21px;
    font-size: 18px;
}

.fw-500 {
    font-weight: 500 !important;
}

.circle-image img {
    border: 6px solid #fff;
    border-radius: 100%;
    padding: 0px;
    top: -28px;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
    background: #e7d184;
    cursor: pointer;
}

.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;
    height: 50px;
    width: 50px;
}
.card-text-line {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

}
.price {
    height: 100%;
    width: 100%;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 25px;
    font-weight: 400;
}

.email {
    width: 100%;
    text-align: center;
    color: #fff;
    /* position: relative; */
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
}

.buttons{
    display: flex;
    justify-content: center;
}
.btn {
    border: 3px solid;
    margin: 10px;
    background: rgb(150, 148, 148);
    color: white;    
}

.btn:hover,
.btn:focus {
    background: rgb(105, 104, 104);
    border: 3px solid #fff !important;
    text-decoration: underline;
}
