
.filter-container {
    display: flex;
    gap: 10px;
    margin: 5px 0px;
  }
  
  .active-filters-container {
    min-height: 30px;
    display: flex;
    gap: 10px;
  }
  
  
  .filter-indicator {
    border-radius: 5px;
    background-color: lightslategray;
    color: lightgray;
    padding: 0px 3px;
    min-height: 30px;
    margin: 5px 0px;
  }